.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}
.test {
    color: red;
}
.table {
    margin: 5px 0px 5px 5px;
    border-collapse: collapse;
}
.tr {
    border: 1px solid black;
    border-radius:4px ;
}
.header {
    font-weight: bold;
}
.td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.tdLimit{
    width: 80px;
}
.clickItem{
    cursor: pointer;
}